# --- DATA FILES ---
Premature_model/data/raw/
Premature_model/data/interim/
Premature_model/data/processed/
*.csv
*.xlsx
*.parquet
*.pkl
*.h5
*.zip
*.rar

# --- PYTHON CACHE ---
__pycache__/
*.py[cod]

# --- JUPYTER ---
.ipynb_checkpoints/

# --- SYSTEM FILES ---
.DS_Store
Thumbs.db

# --- OUTPUTS ---
Premature_model/outputs/models/
Premature_model/outputs/reports/
Premature_model/outputs/figures/
